<% title t(:usergroups) %>
<%= link_to BACK_TO+NBSP+t(:usergroups), usergroups_path  %>

<%= usergroup_header(@usergroup) -%>

<% toggle_display_link t(:members,:count => @usergroup.members.length) do %>
  <% content_tag :ol do %>
    <%= @usergroup.members.map { |m| "<li>"+link_to( m.fullname,m )+"</li>"} -%>
  <% end %>
  <%= t(:no_members) if @usergroup.members.empty? %>
<% end %>
<%= record_links( @usergroup,usergroups_path, nil, edit_usergroup_path(@usergroup), usergroup_path(@usergroup)  ) -%>

<h1><%= t(:restricted_items) -%></h1>
<%= list_restricted_items(@usergroup.group_restrictions) -%>