<% title t(:usergroups) %>
<%= link_to BACK_TO+NBSP+t(:usergroups), usergroups_path  %>

<h1>
  <%= t(:usergroup)+":"+NBSP+h(@usergroup.name) %>
</h1>

<%= record_links( @usergroup,usergroups_path, nil, edit_usergroup_path(@usergroup), usergroup_path(@usergroup)  ) -%>

<p>
  <strong>Owner:</strong>
  <%=link_to(h(@usergroup.user.fullname),@usergroup.user) %>
</p>

<p>
  <strong>Join Mask:</strong>
  <%=h @usergroup.joinable_by.map {|r| t('join_role'+r.to_s) }.join(", ") %>
</p>

<p>
  <strong>Members:</strong>
  <%= @usergroup.members.map(&:fullname).join(", ") -%>
  <%= t(:no_members) if @usergroup.members.empty? %>
</p>

<h2><%= t(:restricted_items) -%></h2>
<%= list_restricted_items(@usergroup.group_restrictions) -%>