<% if message.message_notifications.any? %>
  <% content_tag :div, :id => 'message'+message.id.to_s, :class => 'message_display' do %>
    <% notification = message.message_notifications.find_by_user_id(current_user.id) %>
    <% content_tag :div, :class => 'message_state' do %>
      <%= link_to_remote( (notification && notification.read_at.nil? ? t(:mark_read) : t(:mark_new) ),
            :url => { :controller => 'message_notifications', 
                      :action => 'mark_read', 
                      :id => notification 
                    },
            :complete => "Element.fade('message#{message.id.to_s}');",
            :error => "alert('ERROR MARKING MESSAGE AS READ');"
           )
      -%> |
      <% if message.user != current_user %>
         <%= link_to t(:reply), new_message_path(:recipient => message.user.id.to_s), :back => request.env['QUERY_STRING'] -%> |
      <% end %>
      <% if message.user == current_user %>
        <%= link_to_remote( t(:delete), 
              :url => {
                  :controller => 'messages', :action => 'destroy', :id => message.id
              },
              :method => :delete,
              :complete => "Element.fade('message#{message.id.to_s}');",
              :error => "alert('ERROR DELETING MESSAGE');"
            ) 
        -%>
       <% else %>
         <%= link_to_remote( t(:delete), 
               :url => {
                   :controller => 'message_notifications', :action => 'destroy', :id => notification.id
               },
               :method => :delete,
               :complete => "Element.fade('message#{message.id.to_s}');",
               :error => "alert('ERROR DELETING MESSAGE');"
             )  if notification
         -%>
       <% end %>
    <% end %>
    <% if notification %>
      <%= t(:user_wrote_at_to, :time => message.updated_at.to_s(:short), :user => message.user.fullname, :to => notification.user.fullname) %><br/>
    <% else %>
      <b><%= t(:recipients) %></b>: <%= message.recipients.map {|r| r.fullname }.join(", ") -%> (<%= message.updated_at.to_s(:short) -%>)
    <% end %>
    <% content_tag :div, :class => 'message_display_text'  do %>
      <%= message.message.to_txt %>
    <% end %>
  <% end %>
<% else %>
  <p>
  <%= message.updated_at.to_s(:short) %>
  <blockquote>
    <%= message.message.to_txt -%>
    <br/>
    [<%= link_to(t(:delete), message, :method => 'delete' ) %>] (<%= t(:all_notifications_removed) -%>)
  </blockquote>
  </p>
<% end %>