<% title t(:your_messages) %>

<p>
  <%= link_to t(:write_message), new_message_path(:user_id => current_user, :recipient=> current_user) -%> |
  <%= link_to BACK_TO+NBSP+t(:dashboard), user_path(current_user) -%>
</p>

<h1><%= t(:received_messages) -%></h1>
<% if @user.message_notifications.any? %>
  <%= render :partial => @user.message_notifications.map { |m| m.message } -%>
  <hr>
<% end %>

<h1><%= t(:sent_messages) -%></h1>
<%= render :partial => @user.messages -%>
