<% title "Message" %>

<p>
  <strong>User:</strong>
  <%= @message.user.fullname if  @message.user %>, <%= @message.updated_at.to_s(:short) -%>
</p>
<p>
  <strong>Message:</strong>
</p>
  <%= @message.message.to_txt %>

<p>
  <%= link_to "Edit", edit_message_path(@message) %> |
  <%= link_to "Destroy", @message, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", messages_path %>
</p>
