<p><%= @comment.commentable.user.fullname -%>,</p>
<p>
    Your <%= @comment.commentable_type %> was commented by <%= @comment.user.fullname %> (<%= @comment.user.username -%>)</p>
</p>

<h3>Comment by <%= @comment.user.fullname -%>, at <%= @comment.updated_at.to_s(:short) %></h3>

<%= textilize(h(@comment.comment)) -%>

<p>
  <%= CAN_OPEN %> <%= link_to t(@comment.commentable_type)+" #{@comment.commentable.list_title}", @commentable_url -%>
</p>
