<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= current_locale -%>" lang="<%= current_locale -%>">
  <head>
    <base href="<%= ROOT_URL -%>" />
  </head>
  <body style="background: #FEF4F0 url('<%= ROOT_URL -%>/images/background.png') fixed repeat-x;">
    <div style='width: 700px; margin-left: auto; margin-right: auto; margin-top: 10px; background: white; border: 1px solid black;'>
      <%= image_tag @avatar, :align => :right, :hspace => 10, :vspace => 10 -%>
      <%= Time::now.to_s %> ...
      <div style='padding: 30px;'>
        <%= @message.to_txt -%>
      </div>
    </div>
  </body>
</html>
