<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<%= current_locale -%>" lang="<%= current_locale -%>">
  <head>
    <base href="<%= ROOT_URL -%>" />
  </head>
  <body style="background: #FEF4F0 url('<%= ROOT_URL -%>/images/background.png') fixed repeat-x;">
    <div style='width: 700px; margin-left: auto; margin-right: auto; margin-top: 10px; background: white; border: 1px solid black;'>
       <h1>Welcome/Willkommen</h1>
       <em>English / Deutsche Version siehe weiter unten</em>
       <p>
       A request to register a new account has been made.  
       </p>
       <p>
       If you did not make this request, simply ignore this email.  
       If you did make this request just click the link below:  
       </p>
       <blockquote>
         <%= @edit_password_reset_url %>
       </blockquote>  
       <p>
       If the above URL does not work try copying and pasting it into your browser.  
       If you continue to have problem please feel free to contact us.
       </p>
       
       <p><b>Deutsch</b></p>
       <p>
           Es wurde ein neuer Benutzer beantragt.
       </p>
       <p>
           Falls Sie es nicht selbst waren hat jemand ihre email-adresse missbraucht.
           Ignorieren Sie das mail in diesem Fall einfach.
           <br/>
           Wenn Sie selbst den Benutzer-Account beantragt haben, klicken sie bitte folgenden Link
       </p>
       <blockquote>
         <%= @edit_password_reset_url %>
       </blockquote>  
       <p>
         Sollte der Kink nicht funktionieren, kopieren sie die Adresse bitte in ihren Browser.
       </p>
     </div>
  </body>
</html>
