<div class='form_left_500'>
  <% form_for @comment do |f| %>
    <%= f.error_messages %>
    <p>
      <%= f.label :user_id %><br />
      <%= f.text_field :user_id %>
    </p>
    <p>
      <%= f.label :commentable_id %><br />
      <%= f.text_field :commentable_id %>
    </p>
    <p>
      <%= f.label :commentable_type %><br />
      <%= f.text_field :commentable_type %>
    </p>
    <p>
      <%= f.label :comment %><br />
      <%= f.textile_editor :comment %>
    </p>
    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>
<%= textile_editor_initialize -%> 
