<<<<<<< HEAD:app/views/comments/index.html.erb
<% title "Comments" %>

<table>
  <tr>
    <th>User</th>
    <th>Commentable</th>
    <th>Commentable Type</th>
    <th>Comment</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.user_id %></td>
      <td><%=h comment.commentable_id %></td>
      <td><%=h comment.commentable_type %></td>
      <td><%=h comment.comment %></td>
      <td><%= link_to "Show", comment %></td>
      <td><%= link_to "Edit", edit_comment_path(comment) %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_comment_path %></p>
=======
<% title t(:comments) %>

  <p>
    <%= will_paginate @comments %>
  </p>
  
  <% for comment in @comments %>
    <h2>
        <%= CAN_OPEN+link_to(h(comment.commentable.list_title), comment.commentable) -%>
        (<%= t(comment.commentable_type)-%>)
    </h2>
    <% if is_owner_or_admin?(comment) %>
        <%= link_to "Show", comment %></td>
        <%= link_to "Edit", edit_comment_path(comment) %></td>
        <%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
      <% end %>
    <small>
      <%= t(:comment_days_ago, 
            :count => ((Time.now-comment.updated_at)/1.day).round,
            :fullname => comment.user.fullname, 
            :username => comment.user.username ) 
      -%>
    </small>

    <blockquote>
      <%= comment.comment.to_txt %>
    </blockquote>
  
  <% end %>
  
  <p>
      <%= will_paginate @comments %>
  </p>
>>>>>>> b2118420e09efc2639306b51226a92a2aa4e8ad1:app/views/comments/index.html.erb
