<% title t(:omment) %>

<h1><%= t(comment) -%> - <%=h @comment.commentable.list_title(50) -%></h1>
<%= record_links(
   @comment, 
   comments_path,
   (@comment.new_record? ? comments_path : comment_path(@comment)),
   (@comment.new_record? ? comments_path : edit_comment_path(@comment)),
   (@comment.new_record? ? comments_path : comment_path(@comment))
) -%>

<p>
  <strong>User:</strong>
  <%=h @comment.user.fullname if @comment.user %>
</p>
<p>
  <strong>Commentable:</strong>
  <%=h @comment.commentable_type %> - <%=h @comment.commentable.list_title(50) -%>
</p>

<%=h @comment.comment.to_txt %>

