<% form_for @task_action do |f| %>
  <%= f.error_messages %>
  <div style='float: left; margin-right: 20px;'>
    <%= f.label :context_string %><br/>
    <%= f.select :context_strings, current_user.used_context_names, {},
          :multiple => true, :size => 5, :style => 'width: 220px;' -%><br/>
    <%= f.label :new_context_string -%>:<br/>
    <%= f.text_field :new_context_string -%>
  </div>
  <p>
    <% if @task_action.project %>
      <%= f.label :project_task_id, link_to(t(:project),@task_action.project )+"-"+t(:task) %><br/>
      <%= f.collection_select :project_task_id, @task_action.project.project_tasks, :id, :project_prefix -%>
    <% else %>
      <%= f.label :project_task_id, t(:task) %><br/>
      <%= f.collection_select :project_task_id, @user.project_tasks, :id, :project_prefix -%>
    <% end %>
  </p>
  
  <p>
    <%= f.label :user_id %>
    <% if @task_action.project %>
      <%= f.collection_select :user_id, @task_action.project.members, :id, :fullname %>
    <% else %>
      <%= f.collection_select :user_id, @user.projects.map {|p| p.members.map.flatten }.flatten.uniq, :id, :fullname %>
    <% end %>
  </p>
  <p>
    <%= f.label :notice %><br />
    <%= f.text_area :notice, :rows => 5 %>
  </p>
  <p>
    <%= f.label :state_flag %>
    <%= f.select :state, TaskAction::STATES.map {|s| [t(s),s] } %>
  </p>
  <p>
    <strong><%= f.label :date_due, t(:due) -%></strong>
    <%= f.calendar_date_select :date_due, :time => :mixed, :hidden => false, :size => 18 -%>
  </p>
  
  <p><%= f.submit t(:save) %></p>
<% end %>
