<% title @task_action.project_task.name %>

<h1><%= yield :title %></h1>

<p>
    <strong><%= t(:task)%></strong>:
    <%= link_to( CAN_OPEN+NBSP+@task_action.project_task.project.name, @task_action.project_task.project) %>
    <%= CAN_OPEN+NBSP+@task_action.project_task.name -%>
</p>
<p>
  <strong>User:</strong>
  <%= link_to( CAN_OPEN+NBSP+link_to(@task_action.user.fullname,user_task_actions_path(@task_action.user))) -%>
</p>
<p>
  <strong><%= t(:contexts) -%></strong>
  <ul>
      <% @task_action.context_strings.each do |c| %>
        <li><%= c -%></li>
      <% end %>
  </ul>
</p>
<p>
  <strong>Notice:</strong>
  <%=h @task_action.notice %>
</p>
<p>
  <strong>State Flag:</strong>
  <%=h t(@task_action.state) %>
</p>


<%= inline_menu( [
   link_to( "Edit", edit_task_action_path(@task_action)),
   link_to( "Destroy", @task_action, :confirm => 'Are you sure?', :method => :delete),
  
   
   ]) -%>
</p>
