<% title "Newsletters" %>

<p>
  <%= link_to CAN_OPEN+NBSP+t(:new_newsletter), new_newsletter_path %><br/>
  <%= link_to CAN_OPEN+NBSP+t(:blacklist), :controller => :newsletter_blacklist %>
</p>

<%= "<p>#{t(:no_entries_found)}</p>" unless @newsletters.any?  -%>
<% for newsletter in @newsletters %>
  
  <h1><%=h newsletter.title %></h1>
  <blockquote>
      <h1 style='font-size: 42px; color: #888;'>#<%= newsletter.newsletter_issues.length -%>
      <%= image_tag( newsletter.banner.url(:default), :align => :right, :hspace => 10 ) if newsletter.banner -%>
      </h1>
      <%= link_to( t(:newsletter_issues), newsletter_newsletter_issues_path(newsletter) ) -%> |
      <%= link_to( t(:newsletter_subscriptions), newsletter_newsletter_subscriptions_path(newsletter) ) -%> |
      <%= link_to t(:edit), edit_newsletter_path(newsletter) %> |
      <%= link_to t(:destroy), newsletter, :confirm => 'Are you sure?', :method => :delete %>

  </blockquote>
  
<% end %>

