<% form_for @project_task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :parent_id %><br />
    <%= f.text_field :parent_id %>
  </p>
  <p>
    <%= f.label :position %><br />
    <%= f.text_field :position %>
  </p>
  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :state_mask %><br />
    <%= f.text_field :state_mask %>
  </p>
  <p>
    <%= f.label :date_due %><br />
    <%= f.datetime_select :date_due %>
  </p>
  <p>
    <%= f.label :flag_mask %><br />
    <%= f.text_field :flag_mask %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
