<p>
  <%= link_to t(:action_tasks),   project_project_tasks_path(@project) %> |
  <%= link_to t(:project)+": "+@project.name, project_path(@project) %>
</p>
<% form_for [@project,@project_task] do |f| %>
  <%= f.error_messages %>
  
  <% content_tag :ol, :class => 'task_actions' do %>
    <% f.fields_for :task_actions do |ta| %>
      <% content_tag :li, :id => 'task_action_'+ta.object.id.to_s, :class => 'list_'+cycle(:odd,:even) do %>
        <%= ta.label :user_id, t(:user) %>:
        <%= ta.collection_select :user_id, @project.members, :id, :fullname %><br/>
        <%= ta.label :context_strings_str, t(:context) %>:
        <%= ta.text_field :context_strings_str %><br/>
        <%= ta.label :notice %>:<br/>
        <%= ta.text_area :notice, :rows=>2,:cols =>38 %><br/>
        <%= ta.label :date_due %>:
        <%= ta.calendar_date_select :date_due, :time => :mixed, :hidden => false, :size => 18 -%><br/>
        <%= ta.label :state %>:
        <%= ta.select :state, TaskAction::STATES.map {|s| [t(s),s] } %>
        <%= ta.check_box :_delete -%> <%= ta.label :_delete %>
      <% end %>
    <% end %>
  <% end %>
  
  <strong><%= f.label :name %></strong>
  <%= f.text_field :name %>
  
  <p>
      <strong><%= f.label :parent_id %></strong>
      <%= f.collection_select :parent_id, 
            (@project.project_tasks.roots +
            @project_task.ancestors+
            @project_task.siblings).uniq.reject {|r| r == @project_task}, :id, :name , :include_blank => t(:root_item) -%>
  </p>
  <p>
    <strong><%= f.label :description %></strong><br />
    <%= f.text_area :description, :rows => 5, :cols => 39 %>
  </p>
  
  <p>
    <strong><%= f.label :state_mask, t(:state) -%></strong>
    <%= f.select :state_mask, ProjectTask::TASK_STATES.map {|s| [s.to_s.humanize,ProjectTask::TASK_STATES.index(s)] } %>
  
  <p>
    <strong><%= f.label :date_due, t(:due) -%></strong>
    <%= f.calendar_date_select :date_due, :time => :mixed, :hidden => false, :size => 18 -%>
  </p>
  
  <% if permitted_to?(:destroy,@project_task)%>
  <div style='float: right;'>
    <%= link_to( t(:delete_task), project_task_path(@project_task.id,:project_id => @project.id), 
         :confirm => t(:are_you_sure, :what => t(:delete_this_record)), 
         :method => :delete
    ) unless @project_task.new_record?-%>
  </div>
  <% end %>
  <br clear='right'>
  <p>
    <%= link_to t(:action_tasks),   project_project_tasks_path(@project) %> |
    <%= link_to t(:project)+": "+@project.name, project_path(@project) %>
  </p>
  
  <center>
    <%= f.submit t(:update) -%>
  </center>
<% end %>