<h1><%= project_task.name %></h1>

<% remote_form_for [project,project_task] do |f| %>
<%= f.error_messages %>

  <strong><%= f.label :name %></strong><br/>
  <%= f.text_field :name %>
  
  <p>
      <strong><%= f.label :parent_id %></strong><br />
      <%= f.collection_select :parent_id, 
            (project.project_tasks.roots +
            project_task.ancestors+
            project_task.siblings).uniq.reject {|r| r == project_task}, :id, :name , :include_blank => t(:root_item) -%>
  </p>
  <p>
    <strong><%= f.label :description %></strong><br />
    <%= f.text_area :description, :rows => 5, :cols => 39 %>
  </p>
  
  <p>
    <strong><%= f.label :state_mask, t(:state) -%></strong><br/>
    <%= f.select :state_mask, ProjectTask::TASK_STATES.map {|s| [s.to_s.humanize,ProjectTask::TASK_STATES.index(s)] } %>
  
  <p><%= f.submit t(:update) -%></p>
<% end %>