<h1><%= project_task.name %></h1>

<% remote_form_for [project,project_task] do |f| %>
<%= f.error_messages %>

  <strong><%= f.label :name %></strong>
  <%= f.text_field :name %>
  
  <p>
      <strong><%= f.label :parent_id %></strong>
      <%= f.collection_select :parent_id, 
            (project.project_tasks.roots +
            project_task.ancestors+
            project_task.siblings).uniq.reject {|r| r == project_task}, :id, :name , :include_blank => t(:root_item) -%>
  </p>
  <p>
    <strong><%= f.label :description %></strong><br />
    <%= f.text_area :description, :rows => 5, :cols => 39 %>
  </p>
  
  <p>
    <strong><%= f.label :state_mask, t(:state) -%></strong>
    <%= f.select :state_mask, ProjectTask::TASK_STATES.map {|s| [s.to_s.humanize,ProjectTask::TASK_STATES.index(s)] } %>

  <p>
    <strong><%= f.label :date_due, t(:due) -%></strong>
    <%= f.calendar_date_select :date_due, :time => :mixed, :hidden => false, :size => 18 -%>
  </p>

  <% if permitted_to?(:destroy,project_task)%>
  <div style='float: right;'>
    <%= link_to_remote( t(:delete_task),
         :url =>  project_task_path(project_task,:project_id => project), 
         :confirm => t(:are_you_sure, :what => t(:delete_this_record)), 
         :method => :delete
    )-%>
  </div>
  <% end %>

  <p>
    <%= f.submit t(:update) -%>
  </p>
<% end %>