<% title t(:project_tasks) + " " + @project.name %>
<%= link_to BACK_TO+NBSP+t(:project), @project %>



<% form_for @search do |f| %>
  <p>
    <%= hidden_field_tag :project_id, @project.id -%>
    <%= f.label :name_like, "Name" %><br />
    <%= f.text_field :name_like %>
  <%= f.submit t(:search) %>
  </p>
<% end %>


<table id='project_tasks_table' width='98%'>
  <tr>
    <th><%= order @search, :by => :name, :project_id => @project.id -%></th>
    <th><%= order @search, :by => :parent_id, :project_id => @project.id -%></th>
    <th>Description</th>
    <th><%= order @search, :by => :date_due, :project_id => @project.id -%></th>
    <th><%= order @search, :by => :state_mask, :project_id => @project.id -%></th>
    <th>Actions</th>
  </tr>
  <% for project_task in @project_tasks %>
    <tr class='<%= cycle :odd, :even -%>'>
      <td><%= link_to h(project_task.name), edit_project_project_task_path(@project.id,project_task.id) %></td>
      <td><%= project_task.parent.name if project_task.parent  %>
          <%= project_task.project.name unless project_task.parent %>&nbsp;<%=h project_task.position %></td>
      <td><%=h project_task.description %></td>
      <td><%=humanize_time_span(project_task.date_due) if project_task.date_due %></td>
      <td><%=t(project_task.state) if project_task.state%></td>
      <td><%= link_to "Destroy", project_task_path(project_task,:project_id => @project.id), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Project Task", new_project_task_path(:project_id => @project) %></p>
