<h3>Session</h3>
<blockquote>
    <small>
      <strong><%= t(:login_count        ) -%></strong>: <%=h user.login_count         -%><br/>
      <strong><%= t(:email              ) -%></strong>: <%=h user.email               -%><br/>
      <strong><%= t(:current_login_ip   ) -%></strong>: <%=h user.current_login_ip    -%><br/>
      <strong><%= t(:current_login_at   ) -%></strong>: <%=h user.current_login_at    -%><br/>
    </small>
</blockquote>
