<%- #form_for @user, :html => { :multipart => true } do |f| -%>
<% form_for  @user, :html => { :multipart => true } do |f| %>

<%= f.error_messages %>
<div style='float:right; width: 200px; margin-left: 20px; padding: 5px; border: 1px dotted #888;'>
    <p>
        <%= f.label :avatar %><br />
        <%= image_tag @user.avatar.url(:avatar), :hspace => 10, :vspace => 10 unless @user.avatar.original_filename.blank? %>
        <%= f.file_field :avatar %>
    </p>
</div>

<p>
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</p>
<p>
  <%= f.label :fullname %><br />
  <%= f.text_field :fullname %>
</p>
<p>
  <%= f.label :email %><br />
  <%= f.text_field :email %>
</p>
<%- if !@user.new_record? %>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
<%- end -%>

<%- if current_user && current_user.is_admin? -%>
  <p>
    <%= f.label :is_admin %><br />
    <%= f.check_box :is_admin %>
  </p>
<%- end -%>

<p><%= f.submit "Submit" %></p>

<%- end -%>
