<% form_for  @user, :html => { :multipart => true } do |f| %>

  <!-- AVATAR (Box right) -->
  <% box_float_right do %>
    <p>
        <b><%= f.label :avatar -%></b><br />
        <div id='avatar_image'>
          <%= image_tag(@user.avatar.url(:avatar), :hspace => 10, :vspace => 10) -%>
        </div>
        <%= f.file_field :avatar %>
    </p>
    <p>
        <%= DELETE_CHAR+NBSP+
            link_to_remote(
              t(:remove_avatar),
              :url => { :controller => 'users', :action => 'remove_avatar', :method => :put, :id => @user.id },
              :complete => 'Element.highlight("avatar_image")'
            )
        -%>
    </p>
    
    <%- if @user.new_record? -%>
      <div style='border-bottom: 1px solid #aaa; width: 95%;'></div>
      <p><%= t(:explain_registration_flow) -%></p>
    <% end %>
    
  <% end %>

  <div class='form_left_500'>
    <h1><%= t(:register_new_user)-%></h1>    
    <!-- DATA FIELDS (left) -->
    <%= f.error_messages %>
    
    <p>
      <%= f.label :username %><br />
      <%= f.text_field :username %>
    </p>
    <p>
      <%= f.label :fullname %><br />
      <%= f.text_field :fullname %>
    </p>
    <p>
      <%= f.label :email %><br />
      <%= f.text_field :email %>
    </p>
    <%- unless @user.new_record? -%>
      <p>
        <%= f.label :password %><br />
        <%= f.password_field :password %>
      </p>
      <p>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %>
      </p>
    <%- end -%>
    
    <%- if is_admin? -%>
      <p>
        <%= f.label :is_admin %><br />
        <%= f.check_box :is_admin %>
      </p>
    <%- end -%>
    
    <p><%= f.submit "Submit" %></p>
  </div>
<%- end -%>
<br clear=all />
