<h1>FRIENDSHIPS</h1>
<!-- COMMITED FRIENDS -->
<% if @user.commited_friendships && @user.commited_friendships.any? %>
  <b><%= t(:friends) -%></b><br/>
  <ul>
    <% for friendship in @user.commited_friendships %>
     <li>
       <%= friendship.friend.fullname -%> (<%= link_to friendship.friend.username, friendship.friend -%>)
          <%= link_to DELETE_CHAR, friendship, 
           :method => :delete, :confirm => t(:are_you_sure,:what => t(:sure_remove_friendship)) 
          -%>
     </li>
    <% end %>
  </ul>
<% end %>

<!-- NOT COMMITED FRIENDS -->
<% if @user.not_commited_friendships && @user.not_commited_friendships.any? %>
<b><%= t(:not_commited_friends) -%></b><br/>
  <ul>
    <% for friendship in @user.not_commited_friendships %>
        <li>
          <%= friendship.friend.fullname -%> (<%= link_to friendship.friend.username, friendship.friend -%>)
            <%= link_to DELETE_CHAR, friendship, 
             :method => :delete, :confirm => t(:are_you_sure,:what => t(:sure_remove_friendship)) 
            -%>
        </li>
    <% end %>
  </ul>
<% end %>

<!-- NOT CONFIRMED FRIENDSHIPS -->
<% if @user.not_confirmed_friendships && @user.not_confirmed_friendships.any? %>
  <b><%= t(:friendship_requests) -%></b><br/>
  <ul>
    <% for friendship in (@user.not_confirmed_friendships) %>
      <li>
          <%= friendship.user.fullname -%> (<%= link_to friendship.user.username, friendship.user -%>)
          <%= link_to CAN_OPEN+NBSP+t(:add_friend), friendships_path(:friend_id => friendship.user), :method => :post %>

      </li>
    <% end %>
  </ul>
<% end %>


<%#=  (9000..10100).map {|i| "#{i}=&##{i};"}.join(', ') %>
