<%= image_tag @user.avatar.url(:medium), :align=>:right, :hspace => 10, :vspace => 10 %>
<p>
  <%= CAN_OPEN+NBSP+link_to( t(:postings), user_postings_path(@user)) %> (<%= @user.postings.count -%>)
</p>
<p>
  <%= CAN_OPEN+NBSP+link_to( t(:pages), user_pages_path(@user)) %> (<%= @user.pages.count -%>)         
</p>
<p>
  <%= CAN_OPEN+NBSP+link_to( t(:comments), user_comments_path(@user)) %> (<%= @user.comments.count -%>)
</p>
