<% title t(:user_listing) %>

<%- form_for @search do |f| -%>
    <%= f.text_field :username_like -%>
    <%= f.submit t(:search) -%>
    <%= f.submit(
          t(:show_all),
          :onclick => "form.search_username_like.value='';"
        )
    -%>
    <%= t(:sort_by) -%>: 
      <%= order @search, :by => :username, :as => t(:username) -%> |
      <%= order @search, :by => :last_login_at, :as => t(:last_login_at) -%> |
      <%= order @search, :by => :email, :as => t(:email) -%> 
    
<%- end -%>

<p>
  <%= will_paginate @users -%>
</p>

<%= render @users %>

<p>
  <%= will_paginate @users -%>
</p>