<% title t(:postings_by,:username=>@user.username) %>

<%= image_tag( @user.avatar.url(:medium), :align => :right, :hspace => 10, :vspace => 10) unless @user.avatar.original_filename.blank? %>

<h1><%= @user.fullname -%></h1>
<%- if current_user && current_user == @user -%>
  <h3>Your Session</h3>
  <%= render :partial => '/users/dashboard', :locals => { :user => @user } %>
<%- else -%>
  <%- if @user.current_login_at %>
    <%= t(:user_is_logged_in, :username => @user.username, :since => @user.current_login_at.to_s(:short)) -%>
  <%- else -%>
    <%= t(:user_last_logged_in, :username => @user.username, :date => @user.last_login_at.to_s(:short)) -%>
  <%- end -%>
<%- end -%>

<%- if @mypostings.any? %>
  <%= will_paginate @mypostings -%>
  <%- @mypostings.each do |posting| -%>
    <%= render :partial => '/postings/posting_short', :locals => { :posting => posting } -%>
  <%- end -%>
  <%= will_paginate @mypostings -%>
<%- end %>