<% title t(:users_profile,:username=>@user.username) %>

<div class='user_profile_right' >
  <%= image_tag( @user.avatar.url(:medium), :hspace => 0, :vspace => 10) unless @user.avatar.original_filename.blank? %>
  <h2>
    <%= t(:your_contents) if is_current_user?(@user)  -%>
    <%= t(:users_contents,:username => @user.username) unless is_current_user?(@user)  -%>
  </h2>
  <%- if is_current_user?(@user) -%>
     <div class='user_profile_right_inner'>
         <!-- MESSAGES -->
         <%= link_to CAN_OPEN+NBSP+t(:messages), user_messages_path(@user) -%>
           (<b><%= @user.new_messages.size %></b> / <%= @user.message_notifications.size -%> / <%= @user.messages.size -%>)<br/>
         <%= render :partial => 'public_user_view' -%>   
         
         <!-- USERLIST -->
         <%= link_to CAN_OPEN+NBSP+t(:search_and_add_friends_here), users_path -%>
         
         <!-- USERGROUPS -->
         <%= (BR+link_to( CAN_OPEN+NBSP+t(:usergroups), usergroups_path )) if permitted_to? :index, Usergroup.new -%>  

         <!-- NEWSLETERS -->
         <%= (BR+link_to( CAN_OPEN+NBSP+t(:newsletters), newsletters_path )) if current_user -%>  
         
         <!-- INVITE OTHER USERS -->
         <% if @user.invitations_left > 0 %>
           <% toggle_display_link t(:invite_users), 
                :id => 'invite_user_box',
                :sticky => session[:stickies][:invite_user_box] do %>
             <% remote_form_for [@user,@user.sent_invitations.build], :html => {:id => 'invitation_form'} do |f| %>
               <p><b><%= f.label :recipient_email, t(:recipient_email) %></b><br/>
                  <%= f.text_field :recipient_email, :size => 52 %>
               </p>
               <p><b><%= f.label :message %></b><br/>
                  <%= f.text_area :message, :rows => 5, :cols => 50 -%>
               </p>
               <p><%= f.submit t(:submit) %></p>
             <% end %>
           <% end %>
         <% end %>

         <!-- USER SESSION -->
         <% toggle_display_link t(:your_session) do %>
           <blockquote>
                 <strong><%= t(:login_count        ) -%></strong>: <%=h @user.login_count         -%><br/>
                 <strong><%= t(:email              ) -%></strong>: <%=h @user.email               -%><br/>
                 <strong><%= t(:current_login_ip   ) -%></strong>: <%=h @user.current_login_ip    -%><br/>
                 <strong><%= t(:current_login_at   ) -%></strong>: <%=h @user.current_login_at    -%><br/>
           </blockquote>
         <% end %>
         <%= link_to CAN_OPEN+NBSP+t(:session_history), user_notes_path(@user, :message_type => :end_action, :noteable_type => 'User')%>
      </div>  
    <%- end -%>
    <%= link_to CAN_OPEN+NBSP+t(:your_files)+" (#{@user.binaries .length})", user_binaries_path(@user) -%>
</div>
<% content_tag :div, :class => 'user_profile_left' do %>
  <h1><%= yield :title -%> (<%= @user.fullname %>)</h1>
  <%= link_to t(:edit_profile), edit_user_path(current_user) if current_user == @user -%>
  <% if @user != current_user %>
  <p>
      <%= EMAIL_ICON+NBSP+link_to( t(:send_message_to), new_user_message_path(current_user, :recipient=>@user )) %>
  </p>
  <% end %>
  
  <%= render :partial => 'friends' %>
<% end %>
