<% form_for @posting do |f| %>
  <%- box_float_right("200px;") do -%>
  <p>
      <%= f.label :tagstring, t(:tags) %><br />
      <%= f.text_field :tagstring, :size => 25 %><br/>
      <small>
         <%= t(:comma_or_blank_delimited_plural) -%>
      </small>
  </p>  
  <%- if Category.count > 0 -%>
    <p>
        <%= f.label :category_ids, t(:categories) -%><br/>
        <%- Category.ascend_by_name.each do |cat| -%>
          <div style='margin-left: 5px;'>
              <%= check_box_tag "posting[category_ids][]", cat.id, @posting.categories.include?(cat) -%>&nbsp;<%=h cat.name %>
          </div>
        <%- end -%>
    </p>
    <%- end -%>
  <%- end -%>
 
  <div class='form_left_500'>
     
    <%= f.error_messages %>
    
    <p>
      <%= f.label :subject %><br />
      <%= f.text_field :subject, :size => 52 %>
    </p>
    <p>
      <%= f.label :body %><br />
      <%= f.textile_editor :body, :rows => 15, :cols => 50 %><br/>
      <%= link_to t(:textilize_help_link), TEXTILIZE_HELP_LINK, :target => :blank, :class => 'small_link'  -%>
    </p>
    
    <p><%= f.submit "Submit" %></p>
    
  </div>
<% end %>

