<h1 class='title_text'>
    <%- if posting.categories.any? %>
        <span class='header_categories'>
          <%= posting.categories.map{|c| link_to(c.name, category_postings_path(c))}.join(", ") -%><br/>
        </span>
    <%- end -%>
    
  <%=link_to h(posting.subject), posting -%>
</h1>
<div class='title_box'>
  <%= image_tag(posting.user.avatar.url(:icon), :align => :left, :hspace => 10) %>
  <%=link_to("<b>"+h(posting.user.username) + "</b> (#{posting.user.fullname})",posting.user) -%>, <%= posting.updated_at.to_s(:short) %>
  <%- if posting.tags.any? -%>
    <br />
    <b><%= t(:tags) -%></b>: 
        <%= posting.tags.map { |tag| 
              link_to tag.name, tag_path(tag.name) 
            }.join(", ")
        -%>
  <%- end -%>
  <%- if current_user && (posting.user == current_user || current_user.is_admin?) -%>
    <br/>
    <%= link_to "Edit", edit_posting_path(posting) %> |
    <%= link_to "Destroy", posting, :confirm => 'Are you sure?', :method => :delete %>
  <%- end -%>
  <br clear=left />
</div>