<% box_float_right("200px") do %>
   <h3><%= t(:postings) -%> <%= link_to t(:pages), postings_path -%></h3>
  
  <p>
    <%= link_to CAN_OPEN+NBSP+t(:subscribe_rss_feed), formatted_postings_url(:rss) -%>
    <% rss_link(:rss, formatted_postings_url(:rss)) %>
    
  </p>
  
  <%- form_tag postings_path, :method => :get do  -%>
    <%= text_field_tag :search, params[:search], :size=> 15 -%>
    <%= submit_tag t(:search) -%>
  <%- end -%>
  <%- if current_user %>
    <h3><%= CAN_OPEN+NBSP+link_to( t(:new_posting), new_posting_path) %></h3>
  <%- end -%>
    
  <h3><%= link_to CAN_OPEN+NBSP+t(:categories), categories_path -%></h3>
  <ul>
    <li style='padding-left: 0px;margin-left:-15px;'><%= link_to t(:all_postings), postings_path -%> (<%= Posting.all.length -%>)</li>
    <%- Category.ascend_by_name.each do |category| -%>
      <li style='padding-left: 0px;margin-left:-15px;'><%= link_to category.name,category_postings_path(category) -%> 
          (<%= category.categorizables.categorizable_type_is('Posting').length -%>)</li>
    <%- end -%>
  </ul>
  
  <h3><br/><%= link_to CAN_OPEN+NBSP+t(:tags), tags_path -%></h3>
  <%= render :partial => '/tags/tag_index' -%>

<% end %>