<%- if params[:category_id] -%>
  <%- title( t(:postings_in_category, :category => @category.name ) ) -%>
<%- else -%>
  <%- title "Postings" -%>
<%- end -%>

<div style='float: right; width: 200px; font-size: 12px;'>
  <%- form_tag postings_path, :method => :get do  -%>
    <%= text_field_tag :search, params[:search], :size=> 15 -%>
    <%= submit_tag t(:search) -%>
  <%- end -%>
  <%- if current_user %>
    <p><%= link_to "New Posting", new_posting_path %></p>
  <%- end -%>
  <h3><%= t(:categories)-%></h3>
  <ul>
    <li style='padding-left: 0px;margin-left:-15px;'><%= link_to t(:all_postings), postings_path -%> (<%= Posting.all.count -%>)</li>
    <%- Category.ascend_by_name.each do |category| -%>
      <li style='padding-left: 0px;margin-left:-15px;'><%= link_to category.name,category_postings_path(category) -%> 
          (<%= category.categorizables.categorizable_type_is('Posting').count -%>)</li>
    <%- end -%>
  </ul>
</div>

<%= will_paginate @postings -%>

<% for posting in @postings %>

  <%= render :partial => 'posting_short', :locals => { :posting => posting } %>

<% end %>

<%= will_paginate @postings -%>

<div style='clear:both;'></div>