<% form_for [@newsletter,@newsletter_subscription] do |f| %>
  
  <%= f.error_messages %>
  
  <p>
    <%= f.label :mail %><br />
    <%= f.text_field :mail %>
  </p>
  
  
  <%= radio_button_tag :mode, "add",  params[:mode] == 'add' -%>&nbsp;<%= t(:add_address) -%>
  <%= radio_button_tag :mode, "remove", params[:mode] == 'remove'  -%>&nbsp;<%= t(:remove_address) -%>
  <%= radio_button_tag :mode, "add_local_accounts", params[:mode] == 'add_local_accounts'  -%>&nbsp;<%= t(:add_local_accounts) -%>
  
  <p><%= f.submit "Submit" %></p>

   <%= link_to t(:back), newsletter_newsletter_subscriptions_path(@newsletter) -%>
<% end %>

<%= debug params%>