<h1 class='title_text' style='clear: left;'>
  <%- if page.categories.any? %>
      <span class='header_categories'>
        <%= page.categories.map{|c| link_to(c.name, category_path(c))}.join(", ") -%><br/>
      </span>
  <%- end -%>
  <%=link_to h(page.title), page -%>
</h1>

<% unless page.permalinks.empty? %>
  <% content_tag :div, :style=>'font-size: 11px;' do %>
    <%- toggle_display_link(t(:permalinks)) do -%>
      <%= render :partial => page.permalinks %>
    <%- end -%>
  <% end %>
<% end %>


<div class='page_edit_buttons'>
  <%- if is_owner_or_admin?(page) -%>
    <%= link_to( "Edit", edit_page_path(page)) %> |
    <%= link_to "Destroy", page, :confirm => 'Are you sure?', :method => :delete %>
  <%- end -%>
  <div style="clear:'left';"></div>
</div>


