<!-- just a placeholder file <%=__FILE__-%> -->
<div class='title_box' style='width: 350px; float: right;'>
  
  <%= image_tag(@page.user.avatar.url(:icon), :align => :left, :hspace => 10) %>
  <%=link_to("<b>"+h(@page.user.username) + "</b> (#{@page.user.fullname})",@page.user) -%>, <%= @page.updated_at.to_s(:short) %>
  <%- if @page.categories.any? %>
    <br/><b><%= t(:categories) -%></b>: <%= @page.categories.map{|c| link_to(c.name, category_pages_path(c))}.join(", ") -%>
  <%- end -%>
  
  <%- if @page.tags.any? -%>
    <%= "<br/>" unless @page.categories.empty? %>
    <b><%= t(:tags) -%></b>: 
        <%= @page.tags.map { |tag| 
              link_to tag.name, tag_path(tag.name) 
            }.join(", ")
        -%>
  <%- end -%>
  
  
  <div style="clear:'left';"></div>
  Version <%= @page.version || t(:initialized_version) -%>:
  <% if @page.version > 1 %>  
      <%= link_to t(:previous_version), :version => @page.version-1 %>  
  <% end %>
  <% if @page.version < @page.versions.length %>  
      <%= "|" if @page.version > 1 -%>
      <%= link_to t(:next_version), :version => @page.version+1 %>  
  <% end %>
  <% if params[:version] %>  
    <%= "|" if @page.version > 1 || @page.version < @page.versions.length -%>
    <%= link_to t(:latest_version), :version => nil %>  
  <% end %>
 
  <%- if current_user && is_owner_or_admin?(@page) -%>
    <br/> <%= link_to "Edit", edit_page_path(@page) %> |
    <%= link_to "Destroy", @page, :confirm => 'Are you sure?', :method => :delete %>
  <%- end -%>
</div>

<%= render :partial => 'page_short', :locals => {:page => @page } %>

<%= @page.body.to_txt %>

  <% if @page.versions.length > 1 %>
    <div>
      <% toggle_display_link t(:changes), :id => 'show_changes', :sticky => session[:stickies][:show_changes] do %>
        <% @page.versions.each do |version| %>
        <blockquote>
          <%= "<b>"+CAN_OPEN+NBSP if params[:version] == version.number.to_s || version.number == @page.versions.length %>
          <%= link_to version.number.to_s+':'+version.created_at.to_s, page_path(@page, :version => version.number) %>
          <%= "</b>" if params[:version] == version.number.to_s  || version.number == @page.versions.length %>
          <% if version.changes %>
            <blockquote>
              <% version.changes.each do |chg| -%>
              <div><% toggle_display_link chg[0] do %>
                  <div style='color: #bbb; padding: 5px; background: #eeeeee;'><%= chg[1][0].to_txt -%></div>
                  <div style='color: #000; padding: 5px; background: #eeffee;'><%= chg[1][1].to_txt -%></div>
                  <div style='color: #000; padding: 5px; background: #aabbaa;'>
                    <%= chg[1][1].each_line.reject { |r| 
                        chg[1][0].include? r
                    }.join("\n").to_txt
                    -%>
                  </div>
                  <% end %>
              </div>
              <% end %>
            </blockquote>
          <% end %>
        </blockquote>
        <%- end -%>
      <% end %>
    </div>
  <% end %>
  
