<% box_float_right("200px") do %>
  <h3><%= t(:pages) -%> «» <%= link_to t(:postings), postings_path, :style => 'font-size: smaller;' -%></h3>
  <p>
    <%= link_to CAN_OPEN+NBSP+t(:subscribe_rss_feed), rss_path -%>    
  </p>
  
  <%- form_tag pages_path, :method => :get do  -%>
    <%= text_field_tag :search, params[:search], :size=> 15 -%>
    <%= submit_tag t(:search) -%>
  <%- end -%>
  
  <%- if is_admin? %>
    <h3><%= CAN_OPEN+NBSP+link_to( t(:new_page), new_page_path) %></h3>
  <%- end -%>
    
  <h3><%= link_to CAN_OPEN+NBSP+t(:categories), categories_path -%></h3>
  <ul>
    <li style='padding-left: 0px;margin-left:-15px;'><%= link_to t(:all_pages), pages_path -%> (<%= Page.all.length -%>)</li>
    <% cache(:categories_index_pages) do %>
      <%- Category.ascend_by_name.each do |category| -%>
        <li style='padding-left: 0px;margin-left:-15px;'>
          <%= link_to category.name,category_path(category) -%> 
          (<%= category.categorizables.categorizable_type_is('Posting').length -%>/
          <%= category.categorizables.categorizable_type_is('Page').length -%>)
        </li>
      <%- end -%>
    <% end %>
  </ul>
  
  <h3><br/><%= link_to CAN_OPEN+NBSP+t(:tags), tags_path -%></h3>
  <%= render :partial => '/tags/tag_index' -%>

<% end %>