<% title h(@page.list_title(50)) -%>

<% if @page.draft %>
  <h1><em><%= t(:draft) -%></em></h1>
<% end %>

<% if @page.projects.any? && permitted_to?(:index, Project.new) %>
  <strong><%= t(:project ) -%></strong>:
  <%= 
      @page.projects.map { |project| 
        link_to( project.name, project ) if permitted_to?(:show,project)
      }.join(", ")
  -%>
<% end %>

<%= render @page -%>
<br/><br/>

<!-- COMMENTS -->
<% if (current_user && @page.allow_comments) || @page.comments.any? %>
  <div id='comments'>
        <h3 id='comments_count'><%= t(:count_comments,:count => @page.comments.length ) if current_user -%></h3>
        <%= render @page.comments  unless @page.comments.empty? %>
  </div>
<% end %>

<% if current_user && @page.allow_comments %>
  <% form_remote_for [@commentable, Comment.new], :url => page_comments_path(@page), :html => { :id => 'comment_form' } do |f| %>
  <h3><%= COMMENT_HAND+NBSP+t(:add_a_comment)%></h3>
  <p>
      <%= f.textile_editor :comment, :rows => 5 %>
  </p>
  <p> <%= f.submit t(:submit) -%></p>
  <% end %>
<% end %>


<p>
  <%= link_to GO_BACK+NBSP+t(:view_all), pages_path %>
</p>

