<% title "Invitations" %>
<%= will_paginate @invitations %>

<% for invitation in @invitations do %>
  <h3>
    <%= link_to h(invitation.sender.username), invitation.sender -%> -> <%= invitation.recipient_email %>
    <small>
      <%= invitation.created_at -%>
      <br/><%= NBSP*4 -%>
      <% if invitation.recipient %>
        <%= t(:accepted) -%> (<%= invitation.updated_at -%>) -> 
        <%= link_to h(invitation.recipient.username), invitation.recipient -%>
      <% else %>
        <%= link_to( t(:delete), invitation, :confirm => t(:are_you_sure, :what => t(:reject_invitation)), :method => :delete) -%>
      <% end %>
    </small>
  </h3>
<% end %>
<%= will_paginate @invitations %>

<p>
    <%= link_to CAN_OPEN+NBSP+t(:send_new_invitations_from_your_profile ), current_user %>
</p>