<div style='margin-top: 30px;'>
  <h1><%= t(:project_tasks) -%></h1>
      <div id='selected_task'>
          <%= POINTER_LEFT + NBSP*3 + t(:please_select_a_task) -%>
      </div>
      
      <div id='project_tasks_list'>
      <%= show_project_tasks(@project) -%>
      </div>
  
  <h3><%= t(:add_task) -%></h3>
  <% remote_form_for [@project,@project.project_tasks.build] do |f| %>
  <p>
      <strong><%= f.label :name %></strong><br/>
      <%= f.text_field :name %>
  </p>
  
  <p><%= f.submit t(:create) -%></p>
</div>
<% end %>