<% title "Newsletter Issue" %>

<h1>>Newsletter:
  <%=link_to h(@newsletter_issue.newsletter.title), @newsletter %>
</h1>

<h2>Subject: <%=h @newsletter_issue.subject %></h2>

<p>
  <%= link_to t(:back), newsletter_newsletter_issues_path(@newsletter)%> 
  <%= link_to( t(:edit), edit_newsletter_newsletter_issue_path(@newsletter,@newsletter_issue)) if is_admin? %> 
  <%= link_to( t(:destroy), [@newsletter,@newsletter_issue], :confirm => 'Are you sure?', :method => :delete) if is_admin? %> 
</p>

<div id="message" style='border: 1px solid #888; padding: 10px; width: 700px;'>
  <%= image_tag(@newsletter.banner.url(:default)) if @newsletter.banner -%>
  <br/>
  <%= @newsletter.render_header("NEWSLETTER_MAIL","NEWLETTER_MAIL",subscriptions_url("NEWSLETTER_MAIL","TOKEN")).to_txt %>
  <%= @newsletter_issue.body.to_txt %>
  <%= @newsletter.render_footer("NEWSLETTER_MAIL","NEWLETTER_MAIL",subscriptions_url("NEWSLETTER_MAIL","TOKEN")).to_txt %>
</div>

<%- if is_admin? -%>
  <p><strong><%= t(:subscriptions)%>:</strong></p>
  <p>
    <%= @newsletter.newsletter_subscriptions.find(:all,:order => :mail, :limit => 10).map(&:mail).sort.join(", ") -%>
    <% if @newsletter.newsletter_subscriptions.count > 10 %>
      <%= t(:and_count_more, :count => @newsletter.newsletter_subscriptions.count-10 ) -%>
    <% end %>
  </p>
  
  <%= render :partial => 'progress_display', :locals => { :newsletter => @newsletter, :newsletter_issue => @newsletter_issue } -%>
  
  <h2><%= t(:delivery_protocol) -%></h2>
  <p>
    <%= deliveries = @newsletter_issue.newsletter_deliveries.map { |d|  
          if d.newsletter_subscription
            d.newsletter_subscription.mail + " (#{d.delivered_at.to_s(:short)} " +
               (d.failure_messages.nil? ? "OK" : "ERR: <span style='color: red;'>#{d.failure_messages}</span>") +
               ")"
          end
        }.reject {|x| x==nil}.sort.join("<br/>\n")
    -%>
  </p>
  <%= t(:no_item_found).to_txt if deliveries.empty?  -%>
<%- end -%>
