<% title t(:categories) %>

<%= render :partial => "/postings/searchbox" -%>

<%- if current_user && current_user.is_admin? %>
    <p><%= link_to CAN_OPEN+NBSP+t(:new_category), new_category_path %></p>
<%- end -%>

<% for category in @categories %>
  
  <dt><b><%=link_to CAN_OPEN+NBSP+h(category.name), category %></b> (<%= t(:count_entries, :count => category.categorizables.length)-%>)</dt>
  <dd>
    <%=textilize(h(category.description)) %>
    <%- if current_user && current_user.is_admin? %> |
      <%= t(:is_public) -%> <%=h category.public %><br/>
      <%= link_to "Edit", edit_category_path(category) %> |
      <%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %>
    <%- end -%>
  </dd>
  <br/>
  
<% end %>

