<% title t(:categories) %>

<%= render :partial => "/layouts/sidebar" -%>

<%- if is_admin? %>
    <p><%= link_to CAN_OPEN+NBSP+t(:new_category), new_category_path %></p>
<%- end -%>

<p><%= will_paginate @categories %></p>

<% for category in @categories %>
  
  <dt>
      <b><%=link_to COMMENT_HAND+NBSP+h(category.name), category %></b> 
      (<%= t(:count_entries, :count => category.categorizables.length)-%><%= 
         (", " + t(:is_public) +": "+ ((category.public == true) ? t(:say_yes) : t(:say_no))  ) if is_admin? 
       -%>
      )</dt>
  <dd>
    <%=category.description.to_txt %>
    <%- if is_admin? %>
    <br/>
      <%= link_to "Edit", edit_category_path(category) %> |
      <%= link_to "Destroy", category, :confirm => 'Are you sure?', :method => :delete %>
    <%- end -%>
  </dd>
  <br/>
  
<% end %>

<br clear=all />
<p><%= will_paginate @categories %></p>
