<% title t(:category_show, :category => h(@category.name)) %>

<% content_tag :h1, :class=>'category_description' do %>
  <%= h(@category.name) -%><small> (<%= t(:count_entries, :count => @category.categorizables.size ) -%>)</small>
<% end %>
<% content_tag :div, :class => 'category_description' do%>
  <%= @category.description.to_txt %>
<% end %>

<% unless @category.permalinks.empty? %>
  <% content_tag :div, :class=>'permalinks' do %>
    <%- toggle_display_link(t(:permalinks)) do -%>
        <%= render :partial => @category.permalinks %>
    <%- end -%>
  <% end %>
<% end %>
<%- if is_admin? %>
  <% content_tag :ul, :class => 'record_links' do %>
    <li><%= link_to "Edit", edit_category_path(@category) %></li>
    <li><%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %></li>
    <li><%= link_to "View All", categories_path %></li>
  <% end %><br/>
<%- end -%>

<%= will_paginate @items %>

<% @items.each do |item| %>
  <% if item.categorizable %>
  <div class='posting' id='posting_<%= item.id.to_s -%>'>
    <%= render :partial => "/#{item.categorizable.class.to_s.pluralize.downcase}/#{item.categorizable.class.to_s.downcase}_short", 
               :locals => { item.categorizable.class.to_s.downcase.to_sym => item.categorizable } 
    %>
    <%= link_to(t(:read_txt), item.categorizable) -%>
  </div>
  <% else %>
    <%= t(:item_deleted, :item => debug(item)) %>
  <% end %>
<% end %>

<%= will_paginate @items %>
