<% title t(:category_show, :category => h(@category.name)) %>


<% content_tag :div, :class=>'category_description' do %>
  <h1><%= h(@category.name) -%><small> (<%= t(:count_entries, :count => @category.categorizables.size ) -%>)</small></h1>
  <%= record_links(@category,
                   categories_path,category_path(@category),
                   edit_category_path(@category),category_path(@category)) if is_admin? 
  -%>
  <%= @category.description.to_txt %>  
<% end %>

<% toggle_display_link t(:permalinks) do %>
  <%= render :partial =>  @category.permalinks %>
<% end %>

<h1><%= t(:count_entries, :count => @category.categorizables.size ) -%> …</h1>

<%= will_paginate @items %>

<% @items.each do |item| %>
  <% if item.categorizable %>
    <div class='posting' id='posting_<%= item.id.to_s -%>'>
      <%= render :partial => "/#{item.categorizable.class.to_s.pluralize.downcase}/#{item.categorizable.class.to_s.downcase}_short", 
                 :locals => { item.categorizable.class.to_s.downcase.to_sym => item.categorizable } 
      %>
      <%= link_to(t(:read_txt), item.categorizable) -%>
    </div>
  <% else %>
    <%= t(:item_deleted, :item => debug(item)) %>
  <% end %>
<% end %>

<%= will_paginate @items %>
