<% title t(:category_show, :category => h(@category.name)) %>

<h1><%= h(@category.name) -%><small> (<%= t(:count_entries, :count => @category.categorizables.size ) -%>)</small></h1>
<% unless @category.permalinks.empty? %>
  <% content_tag :div, :style=>'font-size: 11px;' do %>
    <%- toggle_display_link(t(:permalinks)) do -%>
      <blockquote>
        <%= render :partial => @category.permalinks %>
      </blockquote>
    <%- end -%>
  <% end %>
<% end %>
<%- if is_admin? %>
  <p>
    <%= link_to "Edit", edit_category_path(@category) %> |
    <%= link_to "Destroy", @category, :confirm => 'Are you sure?', :method => :delete %> |
    <%= link_to "View All", categories_path %>
  </p>
<%- end -%>

<%=@category.description.to_txt %>


<%= will_paginate @items %>

<% @items.each do |item| %>
  <% if item.categorizable %>
  <div class='posting' id='posting_<%= item.id.to_s -%>'>
    <%= render :partial => "/#{item.categorizable.class.to_s.pluralize.downcase}/#{item.categorizable.class.to_s.downcase}_short", 
               :locals => { item.categorizable.class.to_s.downcase.to_sym => item.categorizable } 
    %>
    <%= link_to(t(:read_txt), item.categorizable) -%>
  </div>
  <% else %>
    <%= t(:item_deleted, :item => debug(item)) %>
  <% end %>
<% end %>

<%= will_paginate @items %>
