<% title t(:search_result) %>

<p><%= t(:search_result_for_txt_found, :txt => params[:search_txt], :count => @items.length ) %></p>

<% @items.each do |item| %>
  <p>
    <%= CAN_OPEN+NBSP -%>
    <%= link_to item.list_title(60), item -%>
    (<%= t(item.class) -%>)<small style='line-height: 80%;'><br><%= NBSP*6 -%><%= humanize_time_span(item.updated_at) -%></small>
  </p>
<% end %>