<% title t(:login) %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit t(:login_button) %></p>
<% end %>

<p>
    <%= link_to t(:forgot_password), new_reset_password_path -%>
</p>

