<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title><%=h yield :title %></title>
    <%- stylesheet 'application' -%>
    <%- javascript :defaults -%>
    <%- rss_link(:rss, formatted_postings_url(:rss)) -%>
    <%= yield :html_head %>
  <body><div id='page'>
      <div id='banner'>
          
          <%- if RAILS_ENV != 'production' -%>
            <p>ENVIRONMENT: <%= RAILS_ENV -%></p>
          <%- end -%>
          
          <div id='user_nav'>
              <%- if current_user -%>
                <b><%= current_user.fullname + "#{NBSP}(#{current_user.username})" -%></b>:
                <%= image_tag( current_user.avatar.url(:icon), :vspace=>5, :hspace=>5) unless current_user.avatar.original_filename.blank? %>
                <%= "<br clear=right />"  unless current_user.avatar.original_filename.blank? -%>
                <%= link_to t(:dashboard), current_user -%> | 
                <%= link_to t(:edit_profile), edit_user_path(:current) -%> |
                <%= link_to t(:logout), logout_path -%>
              <%- else -%>
                <%= link_to t(:register), new_user_path %> |
                <%= link_to t(:login), login_path %>
              <%- end -%>
          </div>
          
          <h3><%= link_to 'iBoard 4 Development', root_path, :style=>'text-decoration:none; color:#ccc;' -%></h3>
          <%- if show_title? -%>
            <h1><%=h yield(:title) -%></h1>
          <%- end -%>
          
          <div id='usermenu'>
              <%= render :partial => '/layouts/publicmenu' -%>
              <%- if current_user && current_user.is_admin? -%>
               &nbsp;&nbsp;&nbsp;&nbsp;
               <%= render :partial => '/users/adminmenu' if current_user -%>
              <%- end -%>
          </div>
          <br/><br/>
      </div>
      
      <div id='container'>
       <div id='flash'>
          <%- flash.each do |name,msg| -%>
            <%= content_tag :div, msg, :id => "flash_#{name}" %>
          <%- end -%>
        </div>
        <%= yield -%>
      </div>
      <div id='height_filler'>&nbsp;</div>
      <div id='copyright'>
        <p>© 2009 by <%= link_to 'Andreas Altendorfer', 'http://www.altendorfer.at/' -%>
      </div>

  </div></body>
</html>